@import "tailwindcss";

@font-face {
    font-family: "Resin";
    src: url("/fonts/RESIN-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font-arimo), sans-serif;
}

/* Nascondi scrollbar */
html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

/* Nascondi scrollbar per elementi specifici */
.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.resin {
    font-family: "Resin", sans-serif;
}

.arimo {
    font-family: var(--font-arimo), sans-serif;
}

